body{
    width: 100%;
    align-items: center;
}
.pricing{
    width: 1170px;
}

.pricing-title{
    font-family: 'Raleway';
    font-size: 36px;
    text-align: center;
}

.pricing__separator{
    border: 1px solid #EC7979;
    /* display: inline-block; */
    margin: 0 auto;
}

.prising__text{
    font-family: 'Raleway';
    font-size: 18px;
    text-align: center;
    color: #86878B;
}

.price__basic{
    display: inline-block;
}

.price__optima{
    display: inline-block;
}

.price__pro{
    display: inline-block;
}