.footer{
background-color: black;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}

.footer-navigation__link{
    transform: scale(0.76);
}

.footer__watermark{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
color: rgba(255, 255, 255, 0.5);
margin: 12px auto 27px auto;
}

.footer-navigation{
    display: flex;
    justify-content: space-between;
    width: 545px;
    margin-top: 45px;

}